input[type="submit"] {
  background-color: #f96d00;
  color: white;
  border-radius: 10px;
  width: 10px 10px 10px;
}
input[type="text"] {
  background-color: #fafafa;
  color: black;
  border-radius: 10px;
  width: 10px 10px 10px;
}
#city-search {
  display: block;
  margin: auto;
}
p {
  text-align: center;
}
